
.bground{
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.searchBox{
  padding:auto;
}

.heading{
  color: black;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=text]:focus {
  background-color: #52b2bf;
}
.weather-form{
  width: 250px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  border-radius: 10px;
  background-color: ghostwhite;
  left: -5px;
}

.space{
  padding-top: 10px;
}
.cityButton {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  left :53px;
  top: 10px;
}

.cityButton:hover,
.cityButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.cityButton:active {
  background: var(--color);
  color: #fff;
}

.resultBox{
  margin: auto;
  width: 600px;
  height: 500px;
  background-color: lightcyan;
  color: black;
}
.weatherIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weatherCity{
  font-size: 30px;
}
.weatherTemp{
  font-size: 60px;
}
.others{
  font-size: 20px;
}